body {
  @media (min-width: 320px) {
    width: 320px;
    margin: 0 auto;
    font-family: "TTLakes", "Arial", serif;
    font-style: normal;
    box-sizing: border-box;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1120px) {
    width: 1120px;
  }
  @media (min-width: 1440px) {
    width: 1440px;
  }
}

.whole-page-container {
  @media (min-width: 320px) {
    width: 320px;
    font-family: "TTLakes", "Arial", serif;
    font-style: normal;
    box-sizing: border-box;
    position: relative;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1120px) {
    width: 1120px;
  }
  @media (min-width: 1440px) {
    width: 1440px;
  }
}

.overlay {
  display: none;
  &--opened {
    position: absolute;
    display: block;
    width: 3000px;
    height: 3000px;
    background-color: rgba($color: #fff, $alpha: 0.95);
    z-index: 3;
    margin: 0 auto;
  }

}

.flex-container {
  @media (min-width: 1120px) {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}
