body {
  font-family: "TTLakes", "Arial", serif;
  font-style: normal;
  color: #1B1C21;
  margin: 0;
  position: relative;
}

.side-bar-container {
  @media (min-width: 320px) {
    display: none;
  }
  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 1120px) {
    display: block;
    position: fixed;
    // margin: 0 auto;
    width: 320px;
    height: 1024px;
    box-shadow: 16px 0 52px 0 rgb(223, 219, 219);
  }
  &--opened {
  @media (min-width:320px) {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
  }
  @media (min-width: 768px) {
    display: block;
    height: 1735px;
  }
  @media (min-width: 1120px) {
    display: none;
  }
  }
}

.navigation-links {
  width: 100%;
  height: 65px;
  display: flex;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  margin: 0;
  justify-content: left;
  gap: 15px;
  list-style: none;
  &__item:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease-in;
  }
  &__item:first-child {
    @media (min-width: 1120px) {
      display: none;
    }
  }
  &__third-link {
    margin-left: 60px;
    @media (min-width: 1120px) {
      margin-left: 120px;
    }
  }
}

.navigation-list {
  width: 100%;
  height: 440px;
  @media (min-width: 768px) {
    height: 620px;
  }
  @media (min-width: 1120px) {
    height: 620px;
  }
}

.services-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    display: block;
    padding-left: 25px;
    padding-top: 30px;
  }
  &__link {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #1B1C21;
  }
  &__link:hover {
    color:rgb(212, 47, 124);
    transition: 0.5s;
  }
  &__link--active {
    color: #7E7E82;
  }
  &__item--active::before {
    display: inline-block;
    content: "";
    width: 4px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #41F6D7;
    position: relative;
    top: 10px;
    left: -25px;
  }
}

.contact-links {
  width: 100%;
  height: 40px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: left;
  gap: 15px;
  list-style: none;
  &__item:hover {
    transform: scale(1.1) rotate(360deg);
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
  }
}

.contact-info {
  display: block;
  margin-left: 25px;
  &__mail {
    font-weight: 500;
  }
  &__phone {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
}

.lang-navigation {
  display: inline-block;
  margin-top: 40px;
  padding-left: 25px;
  &__lang-link {
    display: inline-block;
    text-decoration: none;
    color: #1B1C21;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 6px;
  }
  &__lang-link--active {
    color: #7E7E82;
  }
  &__lang-link:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
}
