@font-face {
  font-family: 'TTLakes';
  src: url('../src/fonts/TTLakes-Medium.woff') format('woff'),
       url('../src/fonts/TTLakes-Medium.ttf') format('truetype'),
       url('../src/fonts/TTLakes-Medium.eot') format('embeddedopentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../src/fonts/TTLakes-Bold.woff') format('woff'),
       url('../src/fonts/TTLakes-Bold.ttf') format('truetype'),
       url('../src/fonts/TTLakes-Bold.eot') format('embeddedopentype');
  font-weight: 700;
  font-style: normal;
}
